<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bmi</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <p>体重の計算app</p>
    <label for="height">身長 (cm)</label>
    <input type="number" name="height" id="height">
    <label for="weight">体重 (kg)</label>
    <input type="number" name="weight" id="weight">
    <button id="btn">計算</button>

    <p id = "result"></p>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>